.movie {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #000000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movie > .movie-player-container,
.movie > .synopsis,
.movie > div:has(.movie-player),
.movie > .movie-map {
    margin-left: 5rem;
    margin-right: 5rem;
}

